<div class="row">
  <div class="col-xs-10">
    <h1>Our Site</h1>
  </div>
</div>
<div class="row">
  <div class="panel panel-default col-md-2 fix-me">
    <div class="panel-body bootstrap-demo-sidebar navbar-default">
      <ol class="nav navbar-nav">
        <li><a href="#header-1">Lorem (Cupcake) Ipsum</a>
        <li><a href="#header-2">Header 2</a>
        <li><a href="#header-3">Header 3</a>
      </ol>
    </div><!-- close the panel body -->
  </div> <!-- close the panel -->
  <div class="col-md-6 col-md-offset-2">
    <h1>Our Kitten Pics</h1>
  <!-- </div> -->
  <div id="bootstrap-demo-carousel" class="carousel slide" data-ride="carousel">
    <!-- carousel data -->
    <ol class="carousel-indicators">
      <li data-target="#bootstrap-demo-carousel" data-slide-to="0" class="active">
      <li data-target="#bootstrap-demo-carousel" data-slide-to="1">
      <li data-target="#bootstrap-demo-carousel" data-slide-to="2">
    </ol>
    <!-- carousel slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag 'kitten_by_viola.jpg', class:"" %>
        <div class="carousel-caption">
          Kitten by Viola
        </div>
      </div>
      <div class="item">
        <%= image_tag 'kitten_by_bjornli_foto.jpg', class:"" %>
        <div class="carousel-caption">
          Kitten by Bjornli Foto
        </div>
      </div>
      <div class="item">
          <%= image_tag 'kitten_by_moyan_brenn.jpg', class:"" %>
          <div class="carousel-caption">
            Kitten by Moyan Brenn
          </div>
      </div>
    </div>
    <!-- carousel controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-backward"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-forward"></span>
    </a>
    </div> <!-- close carousel -->
    <br />
    <h2 id="header-1">Lorem (Cupcake) Ipsum</h2>
    <p>
      <a class="has-tooltip" href="http://www.cupcakeipsum.com/#" data-toggle="tooltip" title="First Tooltip!" data-placement="top" data-trigger="hover">Cupcake ipsum</a> dolor sit amet ice cream gummies jelly beans. Topping <a class="has-tooltip" href="http://www.cupcakeipsum.com/#" data-toggle="tooltip" title="Lefty Tooltip!" data-placement="left" data-trigger="hover">gingerbread cheesecake</a> marzipan cake cheesecake jelly beans sesame snaps topping. Sugar plum unerdwear.com cheesecake. <a class="has-tooltip" href="http://www.cupcakeipsum.com/#" data-toggle="tooltip" title="Righty Tooltip!" data-placement="right" data-trigger="hover">Lollipop</a> chocolate gummi bears marzipan cookie halvah biscuit lemon drops. Bonbon tart applicake jelly beans. Cheesecake marshmallow chupa chups gingerbread. Sweet brownie caramels <a class="has-tooltip" href="http://www.cupcakeipsum.com/#" data-toggle="tooltip" title="Another Tooltip!" data-placement="top" data-trigger="hover">marshmallow</a> chocolate bar carrot cake. Jelly-o sweet roll candy jelly-o sesame snaps chocolate cake. <a class="has-tooltip" href="http://www.cupcakeipsum.com/#" data-toggle="tooltip" title="Last Tooltip!" data-placement="bottom" data-trigger="hover">Gummies bear claw ice cream</a>.
    </p>
    <h2 id="header-2">Header 2</h2>
    <p>
      Cupcake ipsum dolor sit amet ice cream gummies jelly beans. Topping gingerbread cheesecake marzipan cake cheesecake jelly beans sesame snaps topping. Sugar plum unerdwear.com cheesecake. Lollipop unerdwear.com chocolate gummi bears marzipan cookie halvah biscuit lemon drops. Bonbon tart applicake jelly beans. Cheesecake marshmallow chupa chups gingerbread. Sweet brownie caramels marshmallow chocolate bar carrot cake. Jelly-o sweet roll candy jelly-o sesame snaps chocolate cake. Gummies bear claw ice cream.
    </p>
    <h2 id="header-3">Header 3</h2>
    <p>
      Cupcake ipsum dolor sit amet ice cream gummies jelly beans. Topping gingerbread cheesecake marzipan cake cheesecake jelly beans sesame snaps topping. Sugar plum unerdwear.com cheesecake. Lollipop unerdwear.com chocolate gummi bears marzipan cookie halvah biscuit lemon drops. Bonbon tart applicake jelly beans. Cheesecake marshmallow chupa chups gingerbread. Sweet brownie caramels marshmallow chocolate bar carrot cake. Jelly-o sweet roll candy jelly-o sesame snaps chocolate cake. Gummies bear claw ice cream.
    </p>
    <h2>Header 4</h2>
    <p>
      Cupcake ipsum dolor sit amet ice cream gummies jelly beans. Topping gingerbread cheesecake marzipan cake cheesecake jelly beans sesame snaps topping. Sugar plum unerdwear.com cheesecake. Lollipop unerdwear.com chocolate gummi bears marzipan cookie halvah biscuit lemon drops. Bonbon tart applicake jelly beans. Cheesecake marshmallow chupa chups gingerbread. Sweet brownie caramels marshmallow chocolate bar carrot cake. Jelly-o sweet roll candy jelly-o sesame snaps chocolate cake. Gummies bear claw ice cream.
    </p>
    <h2>Header 5</h2>
    <p>
      Cupcake ipsum dolor sit amet ice cream gummies jelly beans. Topping gingerbread cheesecake marzipan cake cheesecake jelly beans sesame snaps topping. Sugar plum unerdwear.com cheesecake. Lollipop unerdwear.com chocolate gummi bears marzipan cookie halvah biscuit lemon drops. Bonbon tart applicake jelly beans. Cheesecake marshmallow chupa chups gingerbread. Sweet brownie caramels marshmallow chocolate bar carrot cake. Jelly-o sweet roll candy jelly-o sesame snaps chocolate cake. Gummies bear claw ice cream.
    </p>
  </div>
</div>

