<header class="main-nav">
	<nav class="left-nav">
		<button><i class="fa fa-bars"></i><span>sections</span></button>
		<button><i class="fa fa-search"></i><span>search</span></button>
	</nav>
</header>