.gear-dropdown {
	position: absolute;
	top: 24px;
	right: 0;
	background: white;
	border: 1px solid $light-gray;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: #6f6f6f;
	font-family: $sans-serif;
	border-radius: 3px;
}

.gear-dropdown .editions  {
	border-bottom: 1px solid #e2e2e2;
}

.gear-dropdown .editions li,
.gear-dropdown .help li {
	margin: 5px 0;
	padding: 5px 5px;
	cursor: pointer;
	border-radius: 3px;
	font-size: 14px;
}

.gear-dropdown .help li {
	color: #326891;
	text-transform: initial;
}

.gear-dropdown .editions li:hover {
	background-color: #e2e2e2;
}

.dropdown-subtitle {
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 11px;
	font-weight: bolder;
	margin: 10px 5px;
	display: block;
	color: #666;
}

.editions li:first-of-type {
	color: black;
	background-color: #e2e2e2;
}