.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
}

.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav ul {
	display: flex;
	position: absolute;
	bottom: 102px;
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links li {
	margin-left: 10px;
	border-right: 1px solid $light-gray;
}

.masthead-links button {
	background: none;
	padding: 0;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a {
	margin-left: 5px;
	padding-right: 5px;
}

.masthead-links li button, 
.masthead-links li time {
	padding-right: 5px;
}

.masthead-links strong {
	color: green;
}

