<div class="row">
  <div class="col-xs-4 col-xs-offset-1">
    <h1>Sign In</h1>
    <form action="<%= session_url %>" method="post">
      <div class="form-group">
        <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

        <label for="user_username">Username</label>
        <input
        class="form-control"
        id="user_username"
        name="user[username]"
        type="text">
        <br>

        <label for="user_password">Password</label>
        <input
        class="form-control"
        id="user_password"
        name="user[password]"
        type="password">
        <br>

        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>
  </div>
</div>
