h3 {
  color: gray;
}

h4 {
  color: lightgray;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.indigo {
  color: mediumslateblue;
}

.violet {
  color: darkviolet;
}
