<html>
  <% include ../shared/head %>
  <body>
    <form action="/users" method="post">
      <label for="user_name">Name
        <input type="text" name="user[name]" id="user_name">
      </label>
      <label for="user_age">Age
        <input type="text" name="user[age]" id="user_age">
      <input type="submit">
    </form>
  </body>
</html>

