<header class="main-nav">
	<nav class="left-nav">
		<button id="sections-sidebar-btn">
			<i class="fa fa-bars"></i><span>sections</span>
			<%= render partial: 'shared/sections_sidebar'%>
		</button>
		<button id="search-modal-btn"><i class="fa fa-search"></i><span>search</span></button>
	</nav>
	<nav class="right-nav">
		<button>Subscribe Now</button>
		<button>Log In</button>
		<i id="gear-dropdown" class="fa fa-gear"><%= render partial: 'shared/gear_dropdown' %></i>
	</nav>
</header>