<section class="main-story col col-2-3">
		<section class="col col-1-3">
			<h1>Launching the New React/Redux Curriculum</h1>
			<p class="byline">By APP ACADEMY INSTRUCTIONAL TEAM</p>
			<ul>
				<li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
				<li>The whole state of your app is stored in an object tree inside a single store.
The only way to change the state tree is to emit an action, an object describing what happened.
To specify how the actions transform the state tree, you write pure reducers.</li>
			</ul>
			<a href="#" class="comments">1738 Comments</a>
		</section>
		<section class="col col-2-3">
			<iframe width="100%" height="300" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
			<p>Warning: This video will make you want to change your career</p>
			<article>
				<hr>
				<header>A Peek Into The Life of Lead Instructors at App Academy</header>
				<p class="byline">By JEFF FIDDLER &amp; TOMMY DUEK</p>
				<p>Two of the brightest educators in the modern age discuss their jobs at the nation's leading coding bootcamp</p>
			</article>
			<article>
				<hr>
				<header>Developing Redux BenchBnB</header>
				<p class="byline">By RYAN HALL</p>
				<p>It is like AirBnB...but with Benches! Veteran App Academy engineer, Ryan Hall, takes you through the advanced React/Redux Project. </p>
			</article>
		</section>
			<hr class="hr-top">
			<hr class="hr-bottom">
</section>
<section class="col col-1-3">
	<section class="opinion cf">
			<h2>The Opinion Pages</h2>
		<section class="col col-1-2">
					<p class="kicker">Op-Ed Contributor</p>
					<header>Will Javascript ever be as easy as Ruby?</header>
					<p>
						Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
					</p>
				<ul class="opinions-list">
					<li>Kevin: The CSS Manifest</li>
					<li>Ken: Surfing The Code</li>
					<li>Brooke: My Pet Capybara</li>
					<li>Shamayel: Completing Every Bonus </li>
					<li>Ryan: Coding in a Van </li>
					<li>Winnie: A Redux Synthesizer</li>
					<li>Jeff: The Code To Wedding Planning </li>
				</ul>
		</section>
		<section class="col col-1-2">
			<p class="kicker">Operations</p>
			<header>App Academy New York Has A Brand New Office</header>
			<p class="byline">By TOMMY DUEK</p>
			<p>The new space features hardwood floors and brick walls for a modern technology space and aura for learning.</p>
			<div class="thumbnail">
				<img src="https://mail.google.com/mail/u/0/?ui=2&ik=53af9b512a&view=fimg&th=1555033f43b52ea2&attid=0.1&disp=inline&realattid=f_ipfsec8c0&safe=1&attbid=ANGjdJ8kY2RHzMQ4LTFuAJH24hP9c7QUlmnCAM_qbg0h1pYgSrmYw8RCl-iUkb4I2npJcm3DmKD0eoU2c_ZiQag6nEdSneuap9TV3kA5PJCGofb7X-bR76nyT9g6R8w&ats=1474668095644&rm=1555033f43b52ea2&zw&sz=w1001-h960" alt="new office">
			</div>
		</section>
		</section>
		<section class="opinion-sign-up">
			<header>Opinion Today, in your Inbox</header>
			<p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
			<form>
				<section class="input-wrapper">
					<input type="text" placeholder="Get the Opinion newsletter by email">
					<button>Sign Up</button>
				</section>
			</form>
			<center>
				<small>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</small>
			</center>
	</section>
			<hr class="hr-top">
			<hr class="hr-bottom">
</section>