<div class="row">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          About this sweet thing.
        </h1>
        <h3>Basically, it's like Enron for middle schoolers!</h3>
      </div>
    </div>
    <div class="row">
      <div class=col-xs-6>
        <p>
        Bitters vinyl post-ironic Thundercats PBR&B Wes Anderson. Four loko organic asymmetrical pickled direct trade Etsy PBR&B pug. Flexitarian hashtag American Apparel, semiotics Etsy mustache jean shorts McSweeney's Intelligentsia cliche aesthetic beard DIY Wes Anderson. Echo Park Tumblr keffiyeh butcher hella sriracha. 
        </p>
      </div>
      <div class=col-xs-6>
        <p>
        Kogi fashion axe Etsy, squid Bushwick cardigan chambray gluten-free Shoreditch banjo 8-bit mustache. Irony DIY Bushwick umami, banh mi Pitchfork chia pour-over sriracha +1 pug. Dreamcatcher American Apparel Banksy tote bag paleo messenger bag.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center"><p>
  <div class="col-xs-12"><h1>Meet the team.</h1></div>
</div>
<div class="row text-center">
  <div class="col-xs-3">
    <img src="http://placecorgi.com/200/200" class="img-circle">
    <h2>Fast Eddie</h2>
    <p>Bacon ipsum dolor sit amet kevin spare ribs capicola boudin. Beef ribs tongue biltong pork. Bacon jerky pork belly pork loin sirloin, filet mignon strip steak spare ribs ham andouille swine pork. Shoulder shank short loin corned beef. Prosciutto venison frankfurter turkey cow.</p>
  </div>
  <div class="col-xs-3">
    <img src="http://placekitten.com/200/200"  class="img-circle">
    <h2>Murdoc</h2>
    <p>Bacon ipsum dolor sit amet kevin spare ribs capicola boudin. Beef ribs tongue biltong pork. Bacon jerky pork belly pork loin sirloin, filet mignon strip steak spare ribs ham andouille swine pork. Shoulder shank short loin corned beef. Prosciutto venison frankfurter turkey cow.</p>

  </div>
  <div class="col-xs-3">
    <img src="http://placecorgi.com/200"  class="img-circle">
    <h2>Mork the Spork</h2>
    <p>Bacon ipsum dolor sit amet kevin spare ribs capicola boudin. Beef ribs tongue biltong pork. Bacon jerky pork belly pork loin sirloin, filet mignon strip steak spare ribs ham andouille swine pork. Shoulder shank short loin corned beef. Prosciutto venison frankfurter turkey cow.</p>
  </div>
  <div class="col-xs-3">
    <img src="http://placebear.com/200/200"  class="img-circle">
    <h2>Mitten</h2>
    <p>Bacon ipsum dolor sit amet kevin spare ribs capicola boudin. Beef ribs tongue biltong pork. Bacon jerky pork belly pork loin sirloin, filet mignon strip steak spare ribs ham andouille swine pork. Shoulder shank short loin corned beef. Prosciutto venison frankfurter turkey cow.</p>
  </div>
</div>
