body {
	width: 80%;
	margin: 0 auto;
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	font-size: 12px;
}

button {
	background-color: #6288a5;
	border-color: #4d7b9f;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: "nyt-franklin", arial, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: #326891;
  border-color: #265e8b;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height:100%;
}

small {
	font-size: 9px;
	color: #999;
	font-family: "nyt-franklin", arial, helvetica, sans-serif;
}

.hidden {
	display: none;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height:1.5px;
	background-color: #999;
}