.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-bottom: 2px solid black;
}

.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: "nyt-franklin", arial, helvetica, sans-serif;
	font-size: 10px;
	color: #6f6f6f;
}

.language-nav li:first-child a {
	color: black;
}

.language-nav ul {
	display: flex;
	position: absolute;
	bottom: 93px;
	left: calc(50% - (175px/2));
	background: white;
	border: 1px solid #e2e2e2;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.logo {
	max-width: 300px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: "nyt-franklin", arial, helvetica, sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links li {
	margin-left: 10px;
	border-right: 1px solid #e2e2e2;
}

.masthead-links li:last-child {
 border: none;
}

.masthead-links button {
	background: none;
	padding: 0;
	color: black;
	font-weight: normal;
	border: none;
}

.masthead-links button:hover {
	background-color: #f7f7f5;
}

.masthead-links a {
	margin-left: 5px;
	padding-right: 5px;
}

.masthead-links li button, .masthead-links li time {
	padding-right: 5px;
}

.masthead-links strong {
	color: green;
}

