<div class="col-xs-2 new-list">
  <div class="list panel panel-default">
    <div class="panel-heading">
      <small class="tiny help-block">Click title to edit</small>
      <div class="list-title-wrapper" data-list-id="">
        <input type="text" class="submit-new-list-title" placeholder="New List Title">
      </div>
    </div>
    <div class="panel-body">
      <ol>
      </ol>
    </div>
  </div>
</div>
