p, a, input {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

p {
  color: #fff;
}

a {
  color: hotpink;

  &:visited {
    color: hotpink;
  }

  &:hover {
    transition: .5s;
    color: deeppink;
  }
}

.button {
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: skyblue;
  font-style: none;
  color: #000;

  &:hover {
    background-color: dodgerblue;
  }
}

input[type=submit] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: skyblue;

  &:hover {
    background-color: dodgerblue;
  }
}

h1, h2, h3, h4 {
  font-family: 'Righteous', cursive;
}

body {
  background-color: #343030;
}

.main-content {
  width: 800px;
  height: 100vh;
  margin: auto;
  border: solid grey;
  border-width: 0 1px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .main-logo {
    font-size: 50px;
    color: #FDDB61;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .user-detail {
      display: flex;
      
      p {
        margin: auto 20px;
      }
    }
  }
}

.page-header {
  font-size: 30px;
  color: #39BAAC;
  margin-bottom: 30px;
}

.page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;

  li {
    margin-top: 20px;
  }
}
