.main-nav {
	display:flex;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1px solid $light-gray;
	vertical-align: middle;
}

.left-nav button,
.right-nav button:last-of-type {
	border: none;
	background: none;
	color: #000;
	margin-left: 20px;
}

.left-nav button:hover, 
.right-nav button:last-of-type:hover {
	background-color: $lightest-gray;
}

.left-nav span {
	margin-left: 10px;
	font-weight: bold;
	font-size: 11px;
}

.right-nav i {
	font-size: 16px;
}

.right-nav button:last-of-type {
	margin-left: 0px;
	position: relative;
}

@media all and (max-width: 1000px) {
  .right-nav button:not(:last-of-type) {
  	display: none;
  }
  .left-nav button {
  	margin: 0;
  }
  .main-nav {
  	padding: 20px 0;
  }
}