<h2>New Tweet!</h2>
<form class="tweet-compose" data-tweets-ul="<%= tweets_ul %>">
  <textarea name="tweet[content]"></textarea><br>
  <strong class="char-left"></strong><br>

  <div class="mentioned-users">
    <script type="text/template">
      <div>
        <select name="tweet[mentioned_user_ids][]">
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>

        <a class="remove-mentioned-user" href="javascript:void(0)">Remove</a>
      </div>
    </script>

    <ul></ul>
  </div>
  <a class="add-mentioned-user" href="javascript:void(0)">Add mention</a><br>

  <input type="submit" value="Post Tweet!">
</form>
