/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $navy: #0f1626;
 $leather: #ab987a;
 $coral: #ff533d;
 $eggshell: #f5f5f5;

/* Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, h3, textarea,
span, article, footer, time, small, h4 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  height: 100vh;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

h1, h3 {
  text-transform: uppercase;
}

h2, h4 {
  text-transform: lowercase;
}

#content {
  height: inherit;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 800px;
}

.app .splash-page {
  width: 100%;
  flex: 1 1 auto;
  text-align: center;
  background-image: url('coffee-splashpage.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $eggshell;
}

.splash-page h1 {
  font-size: 72px;
  font-weight: 400;
  border-bottom: 2px solid $eggshell;
}

.app .nav-bar {
  flex: 0 1 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $eggshell;
  text-transform: uppercase;
}

.nav-bar h1 {
  color: $navy;
  border-bottom: 1px solid $navy;
}

.nav-bar > button {
  font-size: 12px;
  height: inherit;
  background-color: $coral;
  width: 150px;
  text-align: center;
}

.nav-bar .logo {
  height: inherit;
  width: 150px;
  text-align: center;
  // background-size: contain;
  // background-repeat: no-repeat;
}

.app .footer {
  flex: 0 1 40px;
}

.app .dashboard {
  width: 100%;
  padding-top: 20px;
  flex: 1 1 auto;
  text-align: center;
  background-image: url(coffee-dashboard.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex; */
  /* align-items: center; */
  color: $eggshell;
  flex-direction: column;
  /* align-content: stretch; */
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.dashboard h1 {
  font-size: 72px;
  font-weight: 400;
  border-bottom: 2px solid $eggshell;
  flex: 0 1 auto;
  margin: 0 auto;
}

.dashboard main {
  display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      flex: 1 1 auto;
      overflow: auto;
}

.dashboard main > section {
  margin: 20px;
  background: $eggshell;
  min-width: 400px;
  opacity: 0.8;
}

.dashboard main > section:hover {
  opacity: 0.95;
}
