html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $dark-blue;
	color: white;
	font-weight: bold;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $blue;
  border-color: $darkest-blue;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 16px;
}

img {
	width: 100%;
	height:100%;
}

small {
	font-size: 9px;
	color: $gray;
	font-family: $sans-serif;
}

.hidden {
	display: none;
}

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}