div {
  width: 200px;
  height: 200px;
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

p {
  background-color: #7fdbff;
}
